/* CSS */
.buttons-csv {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	margin: 10px;
	margin-bottom: 10px;
}

.buttons-csv:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.buttons-csv:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

.buttons-csv:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.buttons-csv:focus {
	outline: 1px transparent;
}

.buttons-csv:before {
	display: none;
}

.buttons-csv:-webkit-details-marker {
	display: none;
}

/* print */
.buttons-print {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.buttons-print:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.buttons-print:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

.buttons-print:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.buttons-print:focus {
	outline: 1px transparent;
}

.buttons-print:before {
	display: none;
}

.buttons-print:-webkit-details-marker {
	display: none;
}

/* -excel */
.buttons-excel {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.buttons-excel:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.buttons-excel:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

.buttons-excel:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.buttons-excel:focus {
	outline: 1px transparent;
}

.buttons-excel:before {
	display: none;
}

.buttons-excel:-webkit-details-marker {
	display: none;
}

/* -copy */
.buttons-copy {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.buttons-copy:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.buttons-copy:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

.buttons-copy:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.buttons-copy:focus {
	outline: 1px transparent;
}

.buttons-copy:before {
	display: none;
}

.buttons-copy:-webkit-details-marker {
	display: none;
}

/* -pdf */
.buttons-pdf {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.buttons-pdf:hover {
	background-color: #f3f4f6;
	text-decoration: none;
	transition-duration: 0.1s;
}

.buttons-pdf:disabled {
	background-color: #fafbfc;
	border-color: rgba(27, 31, 35, 0.15);
	color: #959da5;
	cursor: default;
}

.buttons-pdf:active {
	background-color: #edeff2;
	box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

.buttons-pdf:focus {
	outline: 1px transparent;
}

.buttons-pdf:before {
	display: none;
}

.buttons-pdf:-webkit-details-marker {
	display: none;
}
